<h5 class="slider-title">High Rated</h5>
<div class="category-slider">
  <% heighRating.forEach(function(m) { %>
  <div class="category-slider_item">
    <img src="<%= m.image.medium %>" alt="">
    <p><%= m.name %></p>
      <p class="category-slider_item_rating" ><%= m.rating.average %></p>
      <a href="/watch/<%= m._id %>"><i class="far fa-eye"></i></a>
      <a href="/watch/<%= m._id %>"><i class="far fa-heart"></i></a>
  </div>
<% }) %>
</div>
<a href="#" style="float:left; margin-left: 17px; margin-top: -45px; font-size: 16px; font-weight: 300; color: #eee;">See More..</a>
