<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/likes.css">
</head>
<body>
    <div class="wrapper">
        
        <!-- Start Navigation -->
        <%- include('./includes/nav.ejs') %>
        <!-- End Navigation -->


        <% if (likes.length > 0) { %>
        <div id="horiz-slider">
            
        <% likes.forEach(m => { %>
            <div class="horiz-slider-item">
            <img src="<%= m.poster %>" alt="Thumbnil" srcset="">
            <div class="horiz-slider-info">
                <h3 class="horiz-slider-title"><%= m.name %></h3>
            </div>
            <div class="horiz-slider-actions">
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="/movies/<%= m.movieId %>"><i class="fas fa-eye"></i></a>
            </div>
            </div>
            <% }) %>
            <% } else { %>
            <h1>No Movies Aivelable!</h1>
        </div>
        <% } %>

<!-- <div id="likes" class="container">
    <h1>Likes</h1>
    <% if (likes.length > 0) { %>
    <div class="row">
        <% likes.forEach(m => { %>
        <div class="movie col-xl-8 col-md-8 col-sm-12">
            <div class="moviePoster">
                <img src="<%= m.poster %>" alt="Poster">
            </div>
            <div class="movieDetails">
                <h3 class="movieTitle"><%= m.name %></h3>
                <p><%= m.summary %></p>
            </div>
            <div class="actions">
                <a href="/download/<%= m.moveiId %>">Download</a>
                <a href="/watch/<%= m.moveiId %>">Watch</a>
            </div>
        </div>

        <% }) %>
    </div>
    <% } else { %>
    <h1>No Movies Aivelable!</h1>
    <% } %>
</div> -->

        <!-- Start Footer -->
        <footer>
                <div class="container">
                    <%- include('./includes/copyRight.ejs') %>
                </div>
            </footer>
        <!-- End Footer -->

</div>

</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script src="/assets/js/plugin.js"></script>
<script src="/assets/js/fontawesome-all.min.js"></script>
</body>

</html>