<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/forms.css">


<body>
    <div class="wrapper">
        
    <!-- Start Navigation -->  
    <%- include('./includes/nav.ejs') %>
    <!-- End Navigation -->
     
        <div class="auth-form auth-form_signup" >
            <form action="/signup" method="post">
                
                <% if(errmsg) { %>
                    <div class="msg msg-err">
                        <p> <%= errmsg %> </p>
                    </div>
                    <% } %>
                    <% if(SuccessMessage) { %>
                        <div class="msg msg-success">
                            <p> <%= SuccessMessage %> </p>
                        </div>
                        <% } %>
                        <p>Sign Up</p>
                    <input type="text" name="name" placeholder="Your Name." value="<% if (hasError) { %><%= oldInputs.name %><% } %>">
                    <input type="email" name="email" placeholder="Your Email." value="<% if (hasError) { %><%= oldInputs.email %><% } %>">
                    <input type="password" name="password" placeholder="Write Password." value="<% if (hasError) { %><%= oldInputs.password %><% } %>">
                    <input type="password" name="confirmPassword" placeholder="Rewrite Password." value="<% if (hasError) { %><%= oldInputs.confirmPassword %><% } %>">
                    <button class="btn main-btn" type="submit">Sign Up</button>
                </form>
        </div>

    <!-- Start Footer -->
    <footer>
        <div class="container">
            <%- include('./includes/copyRight.ejs') %>
        </div>
    </footer>
    <!-- End Footer -->
    
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <script src="/assets/js/fontawesome-all.min.js"></script>

</body>

</html>