<!-- Includes Head Part -->
<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/watchStyle.css">
</head>
<body>
<div class="wrapper">


    <!-- Start Navigation -->  
    <%- include('./includes/nav.ejs') %>
    <!-- End Navigation -->

    
    <!-- Add Search Bar -->
    <%- include('./includes/searchBar.ejs') %>
    <!-- Add Search Bar -->

    <section class="player-card">
        <div class=" player-card-video">
            <h3><%= movie.name %></h3>
            <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/q-ztgzkafMM?start=61" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe> -->
            <img src="<%= movie.image.original %>" alt="<%= movie.name %>'s Poster" srcset="">
        </div>
        <div class="player-card-details">
            <p><span>Premiered:</span>  <%= movie.premiered %> </p>
            <p><span>Imdb:</span> <%= movie.externals.imdb %> </p>
            <p><span>Productions:</span> <%= movie.network.name %> </p>
            <p class="story"><span>Story Summrize:</span> <%= movie.summary %></p>
        </div>
    </section>

    <div id="advrtisement">
        <p>Put Your Add Here..</p>
    </div>






    <!-- Start Footer -->
    <footer>
        <div class="container">
            <%- include('./includes/copyRight.ejs') %>
        </div>
    </footer>
    <!-- End Footer -->
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <script src="/assets/js/fontawesome-all.min.js"></script>
</body>
</html>